.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audio-container {
  width: 300px;
  height: 45px;
  margin-bottom: 60px;
}

.audio-player {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f1f3f4;
  border-radius: 30px;
}

.janre-selector-container {
  display: flex;
  width: 400px;
  height: 36px;
  border-radius: 30px;
  background-color: #f1f3f4;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 7px 30px;
}

.janre-selector {
  background-color: #ddd8d8;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms;
}

.janre-selector:hover {
  background-color: #bcb8b8;
}

.phone-widget {
  position: fixed;
  bottom: 50px;
  left: 100px;
  cursor: pointer;
}

.phone-widget img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 200px;
  object-fit: cover;
}

.header-home {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: #212529;
  /* padding: 10px 30px; */
  justify-content: space-between;
  align-items: center;
}

.menu-user {
  color: white;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu-logout {
  background-color: transparent;
  border: 1px solid #dc3545;
  color: #dc3545;
  font-size: 12px;
  margin-right: 30px;
  cursor: pointer;
}

.menu-logout:hover {
  border: 1px solid #b02a38;
  color: #b02a38;
}

.bloc-continaer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.481);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloc-inner {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
}
