.admin-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-title-row {
    margin: 30px 0;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}

.admin-title {
    font-size: 24px;
}

.admin-add {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-admin-table {
    height: 35px;
    width: 95%;
    display: flex;
    background-color: #343A40;
    color: white;
    align-items: center;
    font-size: 14px;
    padding-left: 5px;
}

.row-admin-table {
    height: 35px;
    width: 95%;
    display: flex;
    background-color: #F1F1F1;
    color: black;
    align-items: center;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 5px;
    border-bottom: 0.5px solid black;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: white;
    width: 700px;
    padding: 80px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #555;
  }
  
  .popup-inner input, select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .popup-inner input::placeholder, select::placeholder {
    color: black;
  }
  
  .popup-inner button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-inner-date {
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .popup-inner button:hover {
    background-color: #0056b3;
  }

  .item-admin-table-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .item-admin-table-button {
    border: none;
    padding: 0;
    cursor: pointer;
  }
  