.multi-select-dropdown .dropdown-btn {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .multi-select-dropdown .dropdown-content {
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 6px;
    border: 1px solid #cbcbcb;
    font-size: 14px;
    color: #666666;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .multi-select-dropdown .dropdown-item {
    display: block;
    padding: 5px;
    cursor: pointer;
    color: black;
  }

  .multi-select-dropdown .dropdown-item input {
    cursor: pointer;
  }