.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

.input-login label {
    font-size: 16px;
    font-weight: 300;
    color: rgb(58, 58, 58);
}

.input-login input {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid black;
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
}

.input-login input:focus {
    outline: none;
}

.login-button {
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-logo {
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin-bottom: 30px;
}

.login-link {
    margin-top: auto;
    margin-bottom: 50px;
    text-decoration: underline;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
}

